[Unit]
Description=Sentinel Cortex Guardian - Static Root of Trust
DefaultDependencies=no
Before=sysinit.target
After=local-fs.target
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/usr/bin/sentinel-core --production
Restart=always
RestartSec=1s

# HARDENING DE RECURSOS (Verifier DoS Defense)
LimitMEMLOCK=infinity
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
