[Unit]
Description=Sentinel Hardware Watchdog
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /home/jnovoas/sentinel/scripts/watchdog_system.sh
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
